@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css";

#root {
  padding-left: 50px;
}
.warning {
  color: red;
  align-items: center;
  border: 2px solid rgb(203, 12, 63);
  padding: 10px;
  background-color: rgb(234, 230, 230);
  border-radius: 7px;
  width: 70%;
  font-size: 19px;
  margin-top: 10px;
}
.message {
  color: green;
  border: 2px solid rgb(15, 70, 35);
  border-radius: 7px;
  padding: 10px;
  background-color: rgb(234, 230, 230);
  width: 70%;
  font-size: 16px;
  margin-top: 10px;
}
